<h1>{{apod.title}}</h1>
{{#if apod.is_image}}
    <img src="{{apod.url}}">
{{else}}
    <p>This is a video or other media type. Please
    <a href="{{apod.nasa_url}}">Click her to view.</a>
    </p>
{{/if}}

<p>{{apod.credit}}</p>
<p>{{apod.explanation}}</p>
<p>This is NASA's Astronomy picture of the day for {{apod.date}}.</p>
<p><a href="{{apod.nasa_url}}">See this image on NASA's website</a> </p>
<!--add favorite form-->
<div class="add-favorite-form">
    <form action="favorites/add" method="POST">
        <!--create hidden inputs to get all the required info associated with a pic-->
        <input type="hidden" name="title" value="{{apod.title}}">
        <input type="hidden" name="date" value="{{apod.date}}">
        <input type="hidden" name="url" value="{{apod.url}}">
        <input type="hidden" name="nasa_url" value="{{apod.nasa_url}}">
        <button type="submit" class="btn btn-success" name="add">Add to favorites</button>
    </form>
</div>
